.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin-top: 20px;
}

.catalog__button {
  display: block;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}
